# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# ------------------------------
# Jupyter Notebook
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Machine Learning / AI
# ------------------------------
# Model weights
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.onnx

# Large datasets
data/
dataset/
DATA SET/
data_split/

# TensorBoard
runs/
logs/

# ------------------------------
# Environment variables
# ------------------------------
.env
.env.*
kaggle.json
*.pem
*.key

# ------------------------------
# IDEs
# ------------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------------
# Testing / Coverage
# ------------------------------
.coverage
htmlcov/
.pytest_cache/

# ------------------------------
# Temporary files
# ------------------------------
*.log
*.tmp
*.bak
